<h1>AjaxApp</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
<%# url:  "/posts" = どこに送信するか決める。この場合postsコントローラーのcreateアクションに送る %>
<%# id: "form" = JavaScriptファイルで使用するid %>
  <%= form.text_field :content , id: "content" %>
  <%# text_field = 1行のテキストボックス %>
  <%= form.submit '投稿する' , id: "submit" %>
  <%# id: "submit" = JavaScriptファイルで使用するid %>
<% end %>

<div id="list">
</div>

<% @posts.each do |post| %>
    <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>
